body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.carousel-bgcolor{
    background-color: #FCEAE8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}
.buy-now-button{
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #FF4E95 0%, #FF1C74 100%);
}
