body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.carousel-bgcolor{
    background-color: #FCEAE8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}
.buy-now-button{
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom, #FF4E95 0%, #FF1C74 100%);
}
.cat1{
    background-image: linear-gradient(to right, #E89135, #F0D021 );
    border-radius: 10px;
}
.cat2{
    background-image: linear-gradient(to bottom, #DF368B, #D80066 );
    border-radius: 10px;
}
.cat3{
    background-image: linear-gradient(to left, #3504E3, #4976FC);
    border-radius: 10px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    color: #ffffff;
}
.categories h1{
    color: #ffffff;
}
.categories img{
    width:120px
}
.head-center{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.card{
    border: none;
    box-shadow: 5px 5px 20px gray;
}
#shoes p{
    color: #595959;
}
#backpack p{
    color: #595959;   
}
#contactus{
    height: 300px;
}
#contactus h6{
    color: #595959;
}
.buy-now-button2{
    color: #ffffff;
    margin-top: 5px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom, #FF4E95 0%, #FF1C74 100%);
}
